bin/
obj/
Debug/
Release/
x64/
x86/
Win32/
*.exe
*.dll
*.asi
.vs/
*.suo
*.user
*.userosscache
*.sdf
*.opensdf
*.opendb
*.VC.db
*.VC.opendb
ipch/
*.aps
*.ncb
*.idb
*.pdb
*.ilk
*.exp
*.lib
*.log
*.tlog
*.lastbuildstate
*.obj
*.iobj
*.res
*.manifest
unlimited-stamina.ini 