* text=auto
*.cpp text diff=cpp
*.h text diff=cpp
*.hpp text diff=cpp
*.sln text eol=crlf
*.vcproj text eol=crlf
*.vcxproj text eol=crlf
*.vcxproj.filters text eol=crlf
*.props text eol=crlf
*.proj text eol=crlf
*.targets text eol=crlf
*.asi binary
*.md text
*.txt text
*.bat text eol=crlf
*.ps1 text eol=crlf
*.sh text eol=lf
*.c diff=cpp
*.cc diff=cpp
*.cpp diff=cpp
*.h diff=cpp
*.hpp diff=cpp
*.cs diff=csharp
*.m diff=objc
*.cpp linguist-language=C++
*.h linguist-language=C++
*.hpp linguist-language=C++
README.md linguist-documentation
LICENSE linguist-documentation
*.txt linguist-documentation 